.footer{
  display: block;
  margin: 0 auto;
  margin-top: 2.5rem;
  background: $bg-footer;
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .8rem;
    max-width: 1100px;
    margin: 0 auto;
    li:hover,
    a:hover{
      color: $blue-datafutbol;
    }
    ul{
      padding-left: 15px;
    }

    div{
      max-width: 38%;
      padding: 10px;  
    }
  }
  &__copyrigth{
    margin: 0 auto;
    max-width: 1200px;;
    border-top: solid 1px $extrac;
    padding: 10px 0;
    font-size: $footer-copyrigth;
    color: $black;
    text-align: center;
    p {
      margin: 0;
      color: $extrac;
    }
  }
  &__logo{
      align-self: center;
    }
  @include sm{
    &__logo{
      max-width: 200px !important;
    }
  }
  
}