.grid-posts{
  display: block;
  padding: 15px;

  @include cust(877) {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
      }
  @include cust(1264) {
    grid-template-columns:  repeat(3, 1fr);
      }

  &__post{
    //text-align: center;
    //max-width: 280px;
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    text-align: center;

    @include md {
      margin: 0;
    }

    &__title {
      font-size: $title-post-grid;
      font-family: $title-font;
      margin: .5rem 0;
      text-transform: uppercase;
    }
    &__extract{
      text-align: left;
      font-size: $extract-size; 
      color: $extrac;
      font-family: $para-font;
    }
    &__img{
      width: 100%;
    }
  }
}