.wrapper{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow-x: hidden;
}

.main-index {
  @include md {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: minmax(auto, auto);
        grid-template-areas: 
        " hr hr hr hr hr hr hr"
        " mn mn mn mn mn mn mn"
        " gp gp gp gp gp as as"
        " sp sp sp sp sp sp sp";
      }
}

.main-single-post{
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  grid-area: hd;
}
.hero {
  grid-area: hr;
}
.menu-category {
  grid-area: mn;
}
.grid-posts {
  grid-area: gp;
}
.aside {
  grid-area: as;
  grid-row: 3 / 5;
}
.sponsor-lb{
  grid-area: sp;
  grid-row: 5 / 5;
}
.footer {
  grid-area: ft
}