html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-body;
  font-family: $title-font, sans-serif;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

